TEXT ALIGN
h1{
  text-align: center;
  text-decoration: orange underline;
  letter-spacing: normal;
  font-family:avant garde, didot, sans-serif;
}

h3{
  text-align: center;
  text-decoration: line-through;
}

p{
  text-align: justify;
  font-weight: 400;
  line-height: 2.5;
  font-size: 20px;
  font-family: revert;
}

/* FONT WEIGHT */
h2{
  font-weight: 800;
  text-decoration: overline;
  font-family: impact;
}





