.card{
  width: 190px;
  height: 270px;
  border: 3px solid black;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 2px 4px 19px black;
  transition: 1s;
}
.desc{
  padding: 0 2px 0 2px;
  background-color: lightgrey;
}
img{
  width:190px ;
  height: 180px;
  border-radius: 5px 5px 0 0;
}
.card:hover{
  box-shadow: 0 8px 16px black;
}