.face{
  height: 400px;
  width: 400px;
  background-color: blue;
  border-radius: 50%;
}
.mouth{
  height: 75px;
  width: 200px;
  background-color: red;
  border-radius: 0 0 40px 40px;
  position: absolute;
  top: 250px;
  left: 100px;
}
.left-eye
.right-eye{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  display: inline-block;
  position: absolute;
  left: 100px;
  top: 100px;
}

.right-eye{
  left: 250px;
}