div{
  height: 200px;
  width: 500px;
  background-color: lightcoral;
  /* border-width: 5px;
  border-style: solid;
  border-color: black; */
  border: 5px solid black;
  text-align: center;
  /* border-left-color: rgb(223, 73, 9);
  border-left-style: dashed;
  border-left-width: 12px; */
  border-left: orangered dashed 10px;
  border-right: blue dashed 10px;
  border-radius: 29px;
  padding: 20px;
  margin: 20px 19px 29px 20px;
  
}

h1{
  text-align: center;
  /* border-width: 2px;
  border-style: dotted;
  border-color: green; */
  border: 2px dotted green;
}

button{
  border: solid orange 5px;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: black;
  color: whitesmoke;
}