h1{
  border :2px solid black;
  width: 33.3%;
}

#outer{
  height: 400px;
  width: 400px;
  background-color: pink;
  margin: 50px;
}

#inner{
  height: 100px;
  width: 100px;
  background-color: tomato;
  margin-left: 10%;
}