/* body{
  background-color: rgb(105, 155, 78);
} */

*{
  font-family: 'Courier New';
}

h1,h3{
  color: #b92b27;
  
}
#login{
  background-color: white;
}
#signup{
  background-color: #b92b27;
  color: white;
}
.upvote{
  background-color: green;
  color: aliceblue;
}


.post a{
  color: black;
  background-color: lightgray;
  text-decoration: none;
}

nav ul li a{
  color: pink;
} 
p+h3{
  text-decoration: underline;
}

.upvote + button{
  background-color: orange;
  color: aliceblue;
}

div > input{
  background-color: darkblue;
  color: white;
}

input[type="text"]{
  color: darkred;
}
input[type="password"]{
  color: green;
}
.myId{
  color: darkolivegreen;
}

button:hover{
  background-color: black;
  color: white;
}

h3:hover{
  text-decoration: none;
}

button:active{
  background-color: darkcyan;
}

p:active{
  font-weight: bold;
  color: darkolivegreen;
}

input[type="radio"]:checked + label{
  color: red;
  font-weight: bold;
}

div:nth-of-type(2){
  background-color: lightcoral;
}
h1::first-letter{
  color: green;

}
p::first-line{
  color: blue;

}
p::selection{
  backdrop-filter: rgb(223, 223, 7);
}