.container{
  width: 600px;
  height: 300px;
  background-color: black;
  display: grid;
  /* grid-template-rows: 55px 55px 55px 55px 55px; */
  /* grid-template-columns: 70px 70px 70px ; */
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  /* row-gap: 10px;
  column-gap: 10px; */
  grid-gap: 10px 20px ;
  justify-items: center;
}

.item{
  width: 100px;
  height: 50px;
  background-color: lightgreen;
  border: 2px solid black;
  text-align: center;
}

.one{
  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-column: 1/ span 2;
}

.two{
  grid-row-start: 1;
  grid-row-end: 3;
  grid-row: 1/ span 2;
}